@use "@angular/material" as mat;

html {
  color-scheme: light;
  @include mat.theme((
    color: mat.$blue-palette,
    typography: Roboto,
    density: 0
  ));
}

html.dark-mode {
  color-scheme: dark;
  // @include mat.theme((
  //   color: mat.$red-palette,
  //   typography: Roboto,
  //   density: 0
  // ));
}

html,
body {
  height: 100%;
  overscroll-behavior: none;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 6px;
}

:hover::-webkit-scrollbar {
  width: 6px;
}

.mat-drawer-inner-container::-webkit-scrollbar {
  width: 0px;
}

.mat-drawer-inner-container:hover::-webkit-scrollbar {
  width: 6px;
}

.search-input {
  background-color: var(--mat-app-background-color);
  color: var(--mat-app-text-color);
  border: 1px solid var(--mat-sidenav-content-text-color, var(--mat-sys-on-background));
  border-radius: 20px;
  padding: 0.8em 1.2em;
  width: 100%;
}